html
  body
    h1= 'Api Showcase'
      br
      a(href = '/api/trains') Get Trains
      br
      a(href = '/api/trains/create') Create Train
      br
      a(href = '/api/trains/delete') Delete Train, add number to url
      br
      a(href = '/api/trains/update/1') Update Train '1'
      br
      a(href = '/api/passengers') Get Passengers
      br
      a(href = '/api/passengers/create') Create Passenger
      br
      a(href = '/api/passengers/delete') Delete Passenger, add number to url
      br
      a(href = '/api/passengers/update/1') Update Passenger '1'
      br
      a(href = '/api/stations') Get Stations
      br
      a(href = '/api/stations/create') Create Station
      br
      a(href = '/api/stations/delete') Delete Station
      br
      a(href = '/api/stations/update/Downtown') Update Station 'Downtown'
      br
  
